@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
}

.colex-app-nav-container {
    display: flex;
    z-index: 2;
    width: 100%;
    flex: 0.1;
    background: #333138;
    align-items: center;
    box-shadow: 0 5px 40px rgba(40,40,40,0.19), 0 5px 40px rgba(40,40,40,0.23) !important;
}

.colex-app-text {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 400 !important;
    font-size: 1.4vw !important;
    line-height: 1em;
}

.colex-app-nav-menu {
    flex: 1;
    padding: 0px 4vw 0px 4vw !important;
}

.colex-app-nav-menu .item {
    font-family: 'Roboto Condensed', sans-serif !important;
    color: #fff !important;
    cursor: pointer;
    font-size: 1.2vw;
}

.colex-app-nav-menu .item:hover {
    color: #ccc !important;
}

.colex-app-nav-header {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 400 !important;
    font-size: 2vw !important;
}

.colex-app-header {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 400 !important;
    font-size: 2vw !important;
}

/** Buttons **/
.colex-app-button {
    color: #fff !important;
    background: #4e0068 !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 1.2vw !important;
}

/** CARDS **/

.colex-app-card-description {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 400 !important;
}
  
.colex-app-card {
    width: 90% !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: 0 10px 20px rgba(40,40,40,0.19), 0 16px 16px rgba(40,40,40,0.23) !important;
}
  

/** Footer **/
.colex-app-footer {
    width: 100%;
    border-top: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colex-app-footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/** Links **/
.colex-app-link {
    color: #4e0068 !important;
}