.colex-app-explore {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.colex-app-explore-group {
    justify-content: center;
    align-items: center;
    flex: 0.5;
    display: flex;
    flex-direction: column;
}

.colex-app-explore-group-button {
    color: #fff !important;
    cursor: pointer;
}

.colex-app-explore-group-button:hover {
    color: #ccc !important;
}

.colex-app-card {
    min-height: 314px;
}

/** Tagline **/
.colex-app-tagline {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 400 !important;
    font-size: 2vw !important;
    text-align: center;
    color: #fff !important;
    flex: 0.5;
}

/** FEED **/
.colex-app-recent-feed-summary a {
    color: #4e0068 !important;
}