.colex-app-landing-container {
    width: 100%;
    height: 100%;
    flex: 0.8;
    display: flex;
    justify-self: center; 
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    background-color: #000;
}

.colex-app-landing-container-background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover !important;
    opacity: 1;
    transition: 1s ease-in-out opacity;
}

.colex-app-landing-container-background.background-transition {
    opacity: 0;  
}

/** Explore **/
.colex-app-explore {
    flex: 0.6;
    z-index: 1;
}

.colex-app-explore-group {
    justify-content: center;
}

/** Stats **/

.colex-app-stats-container {
    width: 100%;
    height: 100%;
    flex: 0.1;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.colex-app-stat .colex-app-text {
    color: #fff !important;
}

/** Cards **/


