.colex-app-landing-container {
    width: 100%;
    height: 100%;
    flex: 0.8;
    display: flex;
    justify-self: center; 
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    background: linear-gradient(transparent, rgb(51, 49, 56, 1)), url('../images/landing-background.png') no-repeat center center;
    background-size: cover;
}

/** Explore **/
.colex-app-explore {
    flex: 0.6;
}

.colex-app-explore-group {
    justify-content: center;
}

/** Stats **/

.colex-app-stats-container {
    width: 100%;
    height: 100%;
    flex: 0.1;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colex-app-stat .colex-app-text {
    color: #fff !important;
}

/** Cards **/

.colex-app-card-description {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 400 !important;
}

.colex-app-card {
    width: 90% !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: 0 10px 20px rgba(40,40,40,0.19), 0 16px 16px rgba(40,40,40,0.23) !important;
}
