.colex-app-translations {
    width: 98%;
    height: 98%;
    flex: 0.8;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.colex-app-recent-translations {
    width: 90%;
    margin-top: 25px !important;
    background: #226B6E !important;
}

#colex-app-recent-translations-header {
    border-bottom: 1px solid #fff;
    color: #fff;
    padding-bottom: 5px;
}